.afterpurchase{
    position: absolute;
    font-size: 2.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.afterpurchase p{
    margin: 5px;
}

.return-home{
    text-decoration: none;
    color: black;
    background-color: rgb(131, 131, 131);
    padding: 10px;
    outline: none;
    box-shadow: 1px 1px 3px black;
    border: none;
    font-size: inherit;
    cursor: pointer;
}

.return-home:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 3px black;
}