.platform-container{
    background-color: rgb(31, 31, 31);
    font-size: 2rem;
}

.platform-container ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.platform-list{
    margin: 1rem;
    color: white;
    cursor: pointer;
    position: relative;
    text-align: center;
    color:rgb(212, 212, 212);
}

.platform-list:hover{
    color: white;
}

.platform-list::after{
    content: "";
    position: absolute;
    height: 3px;
    background-color: white;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
    bottom: 0;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

.platform-list:hover::after{
    visibility: visible;
    transform: scaleX(1);
}

@media only screen and (max-width: 768px) {
    .platform-container{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 605px) {
    .platform-container ul{
        flex-wrap: wrap;
        align-items: center;
    }
}