main{
    color: white;
}

.video-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.halo-info{
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.halo-logo{
    width: 100%;
    display: block;
}

.halo-logo:hover{
    transform: scale(1.02);
}

.halo-info button{
    font-size: 1.2rem;
    width: 20%;
    padding: 15px 5px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 20px;
    background-color: rgb(41, 41, 41);
}

.halo-info button:hover{
    background-color: rgb(90, 90, 90);
}