nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.95);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 9999;
}

/* logo */
.logo{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 2rem;
    border: 1px white solid;
    padding: 5px;
}

.logo:hover{
    transform: scale(1.05);
}

/* nav pages */
nav ul{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li:hover{
    transform: scale(1.05);
}

.nav-link{
    text-decoration: none;
    color: rgb(233, 233, 233);
    font-size: 1.4rem;
}

.nav-link:hover{
    color: white;
    transform: scale(1.02);
}

/* shopping cart */
.shopping-cart-img-container{
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.shopping-cart{
    width: 1.9rem;
    filter: invert(100%);
}

.shopping-cart-img-container:hover{
    transform: scale(1.2);
}

.shopping-cart-amount{
    color: white;
    font-size: 1.2rem;
    margin: 2px;
}

@media only screen and (max-width: 980px) {
    .logo, .nav-link{
        font-size: 1rem;

    }

    .shopping-cart{
        width: 1.5rem;
    }   
    
    .shopping-cart-amount{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 745px) {
    nav ul{
        width: 50%;
    }
}

@media only screen and (max-width: 565px) {
    nav ul{
        width: 40%;
    }
}

@media only screen and (max-width: 460px) {
    .logo{
        margin-left: 0;
    }

    .home{
        display: none;
    }

    nav ul{
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    nav{
        padding: 16px 10px;
    }

    .logo{
        text-align: center;
        padding: 3px;
    }
}

@media only screen and (max-width: 280px) {
    .logo, .nav-link{
        font-size: 0.8rem;
    }
}