.error-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-align: center;
}

.home-btn{
    font-size: 2rem;
    background-color: rgb(49, 49, 49);
    padding: 10px;
    text-decoration: none;
    color: white;
}

.home-btn:hover{
    background-color: rgb(85, 85, 85);
}